#content.content
  .t-gallery
    %h1.main-title Посмотри мои фото тут!
    %p * Они тут лучше, чем в инстаграме
  #bigImage
    %span#closeCross.close &times;
    %span.left-arrow &#60;
    .imgblock
      %img#img01.image-content{:alt => "", :src => ""}/
    #caption
    %span.right-arrow &#707;
  %section.collage
    .collage__table
      - @photos1 = { '/img/Галерея/lift.JPG'=>'Лифт', '/img/Галерея/IMG_2481.JPG'=>'Парк', '/img/Галерея/IMG_3981.jpg'=>'Сестра и я'}
      - @photos2 = {'/img/Галерея/IMG_2998.jpg'=>'Море', '/img/Галерея/IMG_5091.jpg'=>"Море", '/img/Галерея/IMG_5898.jpg'=>"Лавандовое поле"}
      - @photos3 = {'/img/Галерея/IMG_8762.JPG'=>"Рассвет на пляже", '/img/Галерея/IMG_7385.jpg'=>"Hungry bird", '/img/Галерея/IMG_7507.jpg'=>"Рассвет в Ялте"}
      - @photos4 = {'/img/Галерея/IMG_7699.jpg'=>'Кот', '/img/Галерея/IMG_8074.jpg'=>'Колесо обозрения', '/img/Галерея/IMG_8115.jpg'=>'Шторм'}
      - @photos5 = {'/img/Галерея/IMG_8242.jpg'=>'Пикник', '/img/Галерея/IMG_6463.jpg'=>'SurfCoffe', '/img/Галерея/2021-08-20.jpg'=>'Чтение во дворике'}
      %div.collage__row.row.flex-column.flex-sm-row.justify-content-center
        - @photos1.each do |photo, title|
          .collage__item
            %img{:src => photo, :alt => title}
            %span  #{title}
      %div.collage__row.row.flex-column.flex-sm-row.justify-content-center
        - @photos2.each do |photo, title|
          .collage__item
            %img{:src => photo, :alt => title}
            %span  #{title}
      %div.collage__row.row.flex-column.flex-sm-row.justify-content-center
        - @photos3.each do |photo, title|
          .collage__item
            %img{:src => photo, :alt => title}
            %span  #{title}
      %div.collage__row.row.flex-column.flex-sm-row.justify-content-center
        - @photos4.each do |photo, title|
          .collage__item
            %img{:src => photo, :alt => title}
            %span  #{title}
      %div.collage__row.row.flex-column.flex-sm-row.justify-content-center
        - @photos5.each do |photo, title|
          .collage__item
            %img{:src => photo, :alt => title}
            %span  #{title}